@font-face {
  font-family: 'Roboto';
  src: url(Roboto-Regular.eot); /* For IE6-8 */
  src: local('Roboto'),
       local('Roboto-Regular'),
       url(Roboto-Regular.woff2) format('woff2'),
       url(Roboto-Regular.woff) format('woff'),
       url(Roboto-Regular.ttf) format('truetype');
}
